
h1{
    color: rgb(95, 117, 57);
    text-align: center;
    font-family: Georgia;
}
.recipe-section{
    background: rgb(212, 209, 191);
    border-width: 13px ; 
    border-style: double;
    border-color: rgb(115, 130, 90);
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
}
p{
    color:rgb(72, 91, 68);
    font-style:oblique;
}

li{
    color:rgb(72, 91, 68);
    font-style:oblique;

}

h2{
    color:rgb(56, 88, 38);
    font-size: larger;
}


h3{
    color:rgb(58, 74, 59);
}

img{
    border: 5px solid rgb(115, 130, 90);
    box-shadow: 2px 2px 5px black;
}

a {
  color: rgb(2, 69, 22);
  text-decoration: overline;
  font-weight: bold;
}
body{background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); 
}